html,
body {
    height: 100%;
    margin: 0;
    background: #1e1e1e;
}

#container {
    height: 100vh;

    display: flex;
    flex-direction: column;

    gap: 8px;

    padding: 8px;

    box-sizing: border-box;
}

#app-header {
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;

    border-radius: 12px;

    background: #252526;
}

#editor-container {
    border-radius: 12px;
    overflow: hidden;
    flex: 1;

    border: 1px solid #333;
}

#editor {
    height: 100%;
}

#terminal-container {
    height: 250px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    border-radius: 12px;

    background: #1e1e1e;

    border: 1px solid #333;
}

#terminal-toolbar {
    height: 40px;

    display: flex;
    align-items: center;

    padding: 0 12px;

    border-bottom: 1px solid #333;
}

#terminal {
    width: 100%;
    height: 100%;
}

#compile-button {

    padding: 8px 16px;

    background: #0e639c;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

#compile-button:hover {
    opacity: 0.9;
}

#clear-terminal-button {

    padding: 8px 16px;

    background: #0e639c;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}

#clear-terminal-button:hover {
    opacity: 0.9;
}

